body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* img {
  width: 100%;
} */

nav {
  text-align: center;
  padding: 1em;
  background-color: white;
  margin-top: 1em;
}

nav a {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 0 1rem;
  text-decoration: none;
  font-size: 1.2em;
  color: black;
}

/* Form */

form {
  background-color: #fff8e7;
  border: 1px solid salmon;
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;
  padding: 0 1rem 1rem;
}


.book_trainer-form {
  background-color: #EFEFEF;
  border-radius: 5px;
  border: 2px solid lightslategrey;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.book_trainer-form input[type="text"] {
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 5px;
  padding: 10px;
}

.book_trainer-form input[type="submit"] {
  width: 50%;
  font-size: medium;
  margin: auto;
  margin-top: 1em;
  border: none;
  padding: 1em;
  background-color: #007bff;
  color:#fff;
}

form input {
  margin: 0.25rem 0;
}

form input[type="submit"] {
  width: 40%;
}

form img {
  width: 150px;
}

.main-body{
  padding: 5em;
}

.book-form {
  width: 45%;
}

.trainer_profile_image{
  padding: 2em;
}

.trainer_profile_image img {
  width:10%;
}
